body {
    margin: 0; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    background-color: #47C7527A;
    color: #fff;
    padding: 10px; 
    text-align: center;
}
header {
    position: relative; 
}

.header-gif {
    width: 125px; 
    height: 125px; 
    position: absolute; 
    left: 10px; 
    top: 10px; 
}

@media (max-width: 600px) {
    .header-gif {
        position: relative; 
        margin: 10px auto 0; 
        display: block; 
        width: 125px;
        height: 125px; 
    }

    header {
        text-align: center; 
        padding: 20px; 
    }
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

#prediction-form {
    width: 45%; 
    margin: 15px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.5); 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#prediction-form label, 
#prediction-form input {
    color: #444444; 
}

input[type=text], select {
    width: 100%; 
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=button] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

footer {
    width: 100%; 
    background-color: #0F70178A;
    color: #fff;
    padding: 8px;
    text-align: center;
    position: relative; 
}
.contact-details {
    text-align: center;
    margin-top: 20px; 
}

.contact-details ul {
    list-style-type: none; 
    padding: 0; 
}

.contact-details li {
    display: inline; 
    margin: 0 15px; 
}

.contact-details i {
    font-size: 24px; 
    color: #ffffff; 
}
.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.arrow:hover {
    background-color: #4CAF50;
}